body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background:#E8E8E8;
  }
  #wrapper{
      width: 80%;
      margin: auto;
      background: white;
      min-height: 100vh;
  }
 
/*Regler för loggan*/
#header_logga{
    height: 160px;
    background-color:white;
}

/*Regler för loggan*/
#bigpic{
    max-height: 160px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*Regler för footern*/
#mainfooter{
    background:  #891953;
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 80%;
}







/*Regler för menyn*/
#mainmenu{

  background: #891953;
  display:flex;
  justify-content: center;  
  height: 50px;
  
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
}


li {
  display:inline-block; 
}
li a {
  display:block;
  min-width:80px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #891953;
  text-decoration: none;
}
li:hover a {
  background:#4e8667;
}

.right {
  position: absolute;
  right: 10%;
}



/*Regler för små enheter*/
@media only screen and (max-width: 40em){
    
 body{
   background: yellow;
 }
 #mainfooter{
   width: 100vw;
 }

 #wrapper{
   width: 100vw;
 }
 ul{
   width: 100vw;
 }

 li {
  display:block; 
  width: 100vw;
}
.right{
  width: 100vw;
  right: 0;
}
  
  }