body {
    margin: 0;
    background:#E8E8E8;
  }
  #wrapper{
      width: 80%;
      margin: auto;
      background: white;
      min-height: 100vh;
  }
 
/*Regler för loggan*/
#header_logga{
    height: 160px;
    background-color:white;
}

/*Regler för loggan*/
#bigpic{
    max-height: 160px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*Regler för footern*/
#mainfooter{
    background:  #891953;
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 80%;
}








#mainmenu{

  background: #891953;
  border-radius: 5px;  
  display:flex;
  justify-content: center;  
  height: 50px;
  
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
}


li {
  display:inline-block; 
}
li a {
  display:block;
  min-width:80px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #891953;
  text-decoration: none;
}
li:hover a {
  background:#4e8667;
}

.right {
  position: absolute;
  right: 10%;
}