body {
    margin: 0;
    background:#E8E8E8;
  }
  #wrapper{
      width: 80%;
      margin: auto;
      background: white;
      min-height: 100vh;
  }
  #menu {
    overflow: hidden;
    background-color: #333;
    position: relative;
    height: 40px;
    border-radius: 5px;
   
  }
  #menu a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 22px;
  }
  #menu a.txt {
    position: absolute;
    right: 10px;
  }
#menu{
    position: relative;
    background: #891953;
    display:flex;
    justify-content: center; 
}
/*Regler för loggan*/
#header_logga{
    height: 160px;
    background-color:white;
}

/*Regler för loggan*/
#bigpic{
    max-height: 160px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
/*Regler för footern*/
#mainfooter{
    background:  #891953;
    color: white;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 80%;
}



